#!/bin/bash
set -eux

sudo su

# Update & tools
dnf -y update
dnf -y install git curl --allowerasing

# Install uv (https://astral.sh/uv)
curl -LsSf https://astral.sh/uv/install.sh | sh
export PATH="/root/.cargo/bin:$PATH"

# App directory
cd /opt

# Clone your repo (replace with your URL)
git clone ${github_repo_url} app
cd app

# Copy systemd service script
export GEMINI_API_KEY=${gemini_api_key}
export HF_TOKEN=${turn_hf_token}
# touch user_data/fastrtc.service.envfile
touch iac/user_data/fastrtc.service.envfile
# cat > iac/user_data/fastrtc.service.envfile <<- "EOF"
cat > user_data/fastrtc.service.envfile <<- EOF
GEMINI_API_KEY=$GEMINI_API_KEY
HF_TOKEN=$HF_TOKEN
EOF
cp iac/user_data/fastrtc.service /etc/systemd/system/fastrtc.service

# Dependency sync (uses pyproject.toml + uv.lock)
uv sync --frozen --no-cache

systemctl daemon-reload
systemctl enable --now fastrtc.service
systemctl start fastrtc.service
